apiVersion: apps/v1
kind: Deployment
metadata:
  name: be-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: be-service
  template:
    metadata:
      labels:
        app: be-service
    spec:
      containers:
      - name: be-container
        image: be-service:latest
        imagePullPolicy: Never
        # imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: 512Mi
            cpu: "1"
          requests:
            memory: 256Mi
            cpu: "0.2"